<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Google Search Tests" verbose="1" parallel="tests">
    <parameter name="url" value="https://www.google.com/"/>
    <parameter name="os" value="mac"/>
    <parameter name="node" value="http://192.168.1.128:4444"/>
    <test name="Tests on Firefox" preserve-order="true" group-by-instances="true">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="internet.GoogleSearchTest"/>
        </classes>
    </test>
    <test name="Tests on Chrome" preserve-order="true" group-by-instances="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="internet.GoogleSearchTest"/>
        </classes>
    </test>
</suite>
